<html>
    <head>
        <style>
        div{
            background-color: cyan;
            text-align: center;
            font-family: Times New Roman;
        }
        p{
            color: blue;
            padding-left: 40px;
            padding-top: 30px;
            margin-left: 20px;
            margin-top: 25px;
            border: 1px solid black;
        }  
        </style>
    </head>
    <body>
            normal text
            <p> paragraph text</p>
            one line of text
            <div>text on div element</div>
            <p>another paragraph text</p>
            another text
    </body>
</html>