<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
<hr>
  <body lang=EN-SG style='word-wrap:break-word'>

    <div class=WordSection1>

    <p class=MsoNormal><span lang=EN-US>Big lovely blueberry in your face!</span></p>

    <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

    <p class=MsoNormal><span lang=EN-US><img width=1584 height=1056 id="Picture 1"
      src={{imageURL}}image001.jpg alt="Macro image shot of blueberries"></span></p>

</div>

</body>